body {
  background: url("https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}
/* set up  */
header {
  text-align: center;
  border: 1px solid #000;
}

/* set up  */

/* Start Form */
section {
  margin: 20px auto;
  width: 600px;
  height: 600px;
  background: rgba(255, 255, 255, 0.329);
}
.form {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 10px;
  padding: 10px;
}
.form input {
  margin-right: 10px;
}
.btn {
  text-align: center;
}

/* End Form */
